# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep
/vendor/

# bin
debug
main

# .DS_Store
*.DS_Store

# static artifacts
/assets/node_modules
/assets/yarn-error.log
/static
assets.go

# mysql volume
/mysql/data/
