{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false
    }],    
    "no-console": "off",
    "no-new": "off",
    "max-len": 0
  }
}